doctype html
html 
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width,initial-scale=1")
            link(href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet")
            link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.4/dist/leaflet.css' integrity='sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=' crossorigin='')
            link(rel="stylesheet" href="/css/style.css")
            link(rel="shortcut icon" type="/image/png" href="/img/favicon.png")
            script(src="https://js.stripe.com/v3/")
            script(src='/js/bundled/index.js' type='module' defer)
            title Natours | #{title}

body
    // HEADER
    include _header

    // CONTENT
    block content

    // FOOTER
    include _footer
