extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Log into your account
            form#form-login.form
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email' placeholder='you@example.com', required, autocomplete='username')
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password' placeholder='••••••••', required, minlength='8' autocomplete='current-password')
                .form__group
                    button#btn-login.btn.btn--green Login
                .form__group
                    button#btn-forgot-password.content-emphasized(type='button') Forgot Password...!