extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Reset your password
            form#form-reset-password.form(data-token=`${token}`)
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email' placeholder='you@example.com', required, autocomplete='username')
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password' placeholder='••••••••', required, minlength='8' autocomplete='password')
                .form__group.ma-bt-md
                    label.form__label(for='password') Confirm Password
                    input#password-confirm.form__input(type='password' placeholder='••••••••', required, minlength='8' autocomplete='password-confirm')
                .form__group
                    button#btn-save-password.btn.btn--green Reset Password